################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Popis/Properties/Settings.settings
/Popis/App.config
